/* Fonte */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap');
/* Variáveis */
%width{
    min-width: 225px;
    width: 85vw;
    max-width: 450px;
}
/* Elementos base */
html{
    height: 94vh;
    min-height: 480px;
    width: 30vw;
    min-width: 360px;
    display: block;
    overflow-y: hidden;
    scrollbar-width: thin;
}
body{
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(420px,calc(86vh - 110.11px)) 1fr;
    align-content: start;
    justify-items: center;
    font-family: 'Roboto', sans-serif, 'Segoe UI';
}
header{
    display: flex;
    justify-content: center;
}
main{
    text-align: center;
    justify-items: center;
    @extend %width;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .125rem;
    grid-template-rows: repeat(auto-fill, 40px);
}
%btn{
    box-sizing: border-box;
    border: .75rem solid #f68e38;
    margin: 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: #f68e38;
    cursor: pointer;
    width: 85%;
}
select{
    @extend %width;
}
p{
    overflow-wrap: normal; 
    margin: .1rem;
}
/* Classes */
.bot-msg{
    @extend %width;
    user-select: none;
    margin-top: 0;
    text-align: justify;
    max-height: auto;
    background: #e3e5e1;
    font-size: .95rem;
    border-radius: 15px;
    padding: .8rem;
    margin-block-end: .2rem;
}
.bot-img{
    margin: 0;
    background-image: url(../assets/Tob.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}
.input-boxes{
    text-align: center;
}

.preloader{
    height: 150px;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    user-select: none;
    img{
        height: 75%;
    }
}
.btn-div{
    padding: 0 1rem;
}
.btn{
    @extend %btn;
}
/* Animações */